nav {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav img {
    width: 190px;
}

nav a {
    margin-bottom: 100px;

}


nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #0000ff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-family: sans-serif;
}

nav ul li a.active,
nav ul li a:hover {}

nav .menu-btn i {
    color: #080808;
    cursor: pointer;
    display: none;
}

@media (max-width: 700px) {
    nav .menu-btn i {
        display: block;

    }

    nav a img {
        width: 100px;

    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: white;
        height: 400px;
        width: 30%;
        text-align: center;
        display: block;
        transition: all 0.6s ease;
    }

    nav ul.open {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        font-size: 23px;
        color: #0000ff;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;

    }

    nav {
        width: 100%;
    }


    .Imagem-header {
        width: 100%;
        z-index: -1;

    }

    .Imagem-header h1 {
        display: none;
    }

    .Imagem-header img {
        width: 100%;
        height: auto;
        margin-bottom: 340px;
        margin-right: 100px;
    }

}
















