#wa-compbutton-jd067no06666vk {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#0000ff; font-family:'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Luxi Sans', sans-serif; border-color:rgba(224,224,224,0);}
#wa-compbutton-jd067no06666vk-halign {text-align:center;}
#wa-compbutton-jd067no06666vk:hover {background-color:#7a7a7a;}
#wa-compbutton-jdnbnc0e6xk7yg {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#0000ff; font-family:'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Luxi Sans', sans-serif; border-color:rgba(224,224,224,0);}
#wa-compbutton-jdnbnc0e6xk7yg-halign {text-align:center;}
#wa-compbutton-jdnbnc0e6xk7yg:hover {background-color:#7a7a7a;}
#wa-compcolor-jdnamzv36vwws8 {background-color:rgba(0,0,0,0.478431);border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;height:1px;}
#wa-compimage-jd08s8n76en9rc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compsubpage-jd09vnyi65p6kg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-compsubpage-jd09vnyi65p6kg>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-jd09vnyi65p6kg>.wa-container-vspacer {height:0px;}
#wa-compsubpage-jd09ze8y3tt47c {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-compsubpage-jd09ze8y3tt47c>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-jd09ze8y3tt47c>.wa-container-vspacer {height:0px;}
#wa-compsubpage-jdbzsf0yahx9q0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#3d3d3d;padding:0px 0px 0px 0px;}
#wa-compsubpage-jdbzsf0yahx9q0>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-jdbzsf0yahx9q0>.wa-container-vspacer {height:0px;}
#wa-comptext-jcw9oe3d7x0tbk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jd05kmyo3wdlao {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jd05srme6a6cio {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jd05z2oc93r9w8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jd06ws546c05eg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jd07nycy6a6d54 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jd07nyq26a6k00 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jd07nz3u6a6b9s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jd087w7u8ynmy0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jd087ypf8ynl2o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jd08804i8yne7s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jd0881ok8ynhc0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jd08r0ve73jvdk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jd0a23v4bru3c0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jd0a23v4bru3yg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jd0a23v4brufsw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jdnamzv39g5r1s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jdnben5g6a52wo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jdnbenke5xo0wo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jdnbenzx5xnwjk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jdnbeoee5xnqxk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jdnbf59i5xnp28 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jdnbf59i5xnpoo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jdnbf59i5xnxsg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jdnbf59i5xnzns {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jer0722m5x5cn4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jer0722m5x5ivk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jer0722m5x5ji0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jer0722m5x5ldc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jer0722m5x5mm8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-jd05kmyo3wdlao {padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-jd05srme6a6cio {padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-jd05z2oc93r9w8 {padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-jd0a23v4bru3c0 {padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-jd0a23v4bru3yg {padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-jd0a23v4brufsw {padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-jdnamzv39g5r1s {padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-jdnben5g6a52wo {padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-jdnbenke5xo0wo {padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-jdnbenzx5xnwjk {padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-jdnbeoee5xnqxk {padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-jdnbf59i5xnp28 {padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-jdnbf59i5xnpoo {padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-jdnbf59i5xnxsg {padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-jdnbf59i5xnzns {padding:10px 10px 10px 10px;}
#wa-container-jdvtwqj56n3du8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jdvtwqj56n3du8>.row>.clearfix {margin-bottom:0px;}
#wa-container-jdvtwqj56n3du8>.wa-container-vspacer {height:0px;}
#wa-container-jdvtwqk76n331c {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jdvtwqk76n331c>.row>.clearfix {margin-bottom:0px;}
#wa-container-jdvtwqk76n331c>.wa-container-vspacer {height:0px;}
#wa-container-jdvtwqk86n34kw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jdvtwqk86n34kw>.row>.clearfix {margin-bottom:0px;}
#wa-container-jdvtwqk86n34kw>.wa-container-vspacer {height:0px;}
#wa-container-jdvtwqkc6n37o0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jdvtwqkc6n37o0>.row>.clearfix {margin-bottom:0px;}
#wa-container-jdvtwqkc6n37o0>.wa-container-vspacer {height:0px;}
#wa-container-jdvtwqki3donrk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jdvtwqki3donrk>.row>.clearfix {margin-bottom:0px;}
#wa-container-jdvtwqki3donrk>.wa-container-vspacer {height:0px;}
#wa-container-jdvtwqkm3dohlc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jdvtwqkm3dohlc>.row>.clearfix {margin-bottom:0px;}
#wa-container-jdvtwqkm3dohlc>.wa-container-vspacer {height:0px;}
#wa-container-jdvtwqku3doj4w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jdvtwqku3doj4w>.row>.clearfix {margin-bottom:0px;}
#wa-container-jdvtwqku3doj4w>.wa-container-vspacer {height:0px;}
#wa-container-jdvtwqkw75e7mg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jdvtwqkw75e7mg>.row>.clearfix {margin-bottom:0px;}
#wa-container-jdvtwqkw75e7mg>.wa-container-vspacer {height:0px;}
#wa-container-jdvtwqli75e3rk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jdvtwqli75e3rk>.row>.clearfix {margin-bottom:0px;}
#wa-container-jdvtwqli75e3rk>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-jdvtwqj56n3du8 {background-color:#ffffff;}
#wa-container-wrapper-jdvtwqk86n34kw {background-color:#ffffff;}
#wa-container-wrapper-jdvtwqkc6n37o0 {background-color:#e0e0e0;}
#wa-container-wrapper-jdvtwqkm3dohlc {background-color:#e0e0e0;}
#wa-container-wrapper-jdvtwqku3doj4w {background-color:#ffffff;}
#wa-container-wrapper-jdvtwqkw75e7mg {background-color:#e0e0e0;}
#wa-container-wrapper-jdvtwqli75e3rk {background-color:#3d3d3d;}
#wa-row-jcvztiyv7q716w {margin:0px 0px;}
#wa-row-jcvztiyv7q716w>div {padding: 0px 0px;}
#wa-row-jcw9oau73ei8js>.wa-item-rowspacer {height:300px;}
#wa-row-jcw9obbr3ei8ug>.wa-item-rowspacer {height:300px;}
#wa-row-jcw9teyf6uz51k {margin:0px 0px;}
#wa-row-jcw9teyf6uz51k>div {padding: 0px 0px;}
#wa-row-jcw9tfts3eia14 {margin:0px 0px;}
#wa-row-jcw9tfts3eia14>div {padding: 0px 0px;}
#wa-row-jd048bis66mqew>.wa-item-rowspacer {height:50px;}
#wa-row-jd05msol6a4cq8 {margin:0px 0px;}
#wa-row-jd05msol6a4cq8>div {padding: 0px 0px;}
#wa-row-jd05mu067879zk {margin:0px 0px;}
#wa-row-jd05mu067879zk>div {padding: 0px 0px;}
#wa-row-jd05muby787b68 {margin:0px 0px;}
#wa-row-jd05muby787b68>div {padding: 0px 0px;}
#wa-row-jd05mura7879e8 {margin:0px 0px;}
#wa-row-jd05mura7879e8>div {padding: 0px 0px;}
#wa-row-jd06740u6ixjz4>.wa-item-rowspacer {height:50px;}
#wa-row-jd067hql6ixj6o {margin:0px 0px;}
#wa-row-jd067hql6ixj6o>div {padding: 0px 0px;}
#wa-row-jd06on7r9anhg0 {margin:0px 0px;}
#wa-row-jd06on7r9anhg0>div {padding: 0px 0px;}
#wa-row-jd06wny87405lk {margin:0px 0px;}
#wa-row-jd06wny87405lk>div {padding: 0px 0px;}
#wa-row-jd06xezi706c9s>.wa-item-rowspacer {height:50px;}
#wa-row-jd07nxd36ixqlc {margin:0px 0px;}
#wa-row-jd07nxd36ixqlc>div {padding: 0px 0px;}
#wa-row-jd07pge79xrsnk>.wa-item-rowspacer {height:50px;}
#wa-row-jd07r6ov6bi8r4>.wa-item-rowspacer {height:75px;}
#wa-row-jd07r8jr6bi6s0>.wa-item-rowspacer {height:75px;}
#wa-row-jd087how6axc8g {margin:0px 0px;}
#wa-row-jd087how6axc8g>div {padding: 0px 0px;}
#wa-row-jd087i3l6axcog {margin:0px 0px;}
#wa-row-jd087i3l6axcog>div {padding: 0px 0px;}
#wa-row-jd087ihs9f6xqw {margin:0px 0px;}
#wa-row-jd087ihs9f6xqw>div {padding: 0px 0px;}
#wa-row-jd087ivc9f6yc8 {margin:0px 0px;}
#wa-row-jd087ivc9f6yc8>div {padding: 0px 0px;}
#wa-row-jd08hhzl7407iw {margin:0px 0px;}
#wa-row-jd08hhzl7407iw>div {padding: 0px 0px;}
#wa-row-jd08qql465y5ww>.wa-item-rowspacer {height:50px;}
#wa-row-jd08qt2865y640>.wa-item-rowspacer {height:50px;}
#wa-row-jd08s9ki6ixmcg {margin:0px 0px;}
#wa-row-jd08s9ki6ixmcg>div {padding: 0px 0px;}
#wa-row-jd09ze8yau008 {margin:0px 0px;}
#wa-row-jd09ze8yau008>div {padding: 0px 0px;}
#wa-row-jd0a23v46jw3io {margin:0px 0px;}
#wa-row-jd0a23v46jw3io>div {padding: 0px 0px;}
#wa-row-jd0a23v46jw40g {margin:0px 0px;}
#wa-row-jd0a23v46jw40g>div {padding: 0px 0px;}
#wa-row-jd0a23v46jw4sw {margin:0px 0px;}
#wa-row-jd0a23v46jw4sw>div {padding: 0px 0px;}
#wa-row-jd0a23v46jw4wg {margin:0px 0px;}
#wa-row-jd0a23v46jw4wg>div {padding: 0px 0px;}
#wa-row-jd1plubb3xayuo>.wa-item-rowspacer {height:120px;}
#wa-row-jd1plvnb3ui1x4>.wa-item-rowspacer {height:120px;}
#wa-row-jdbzsd625zljyw {margin:0px 0px;}
#wa-row-jdbzsd625zljyw>div {padding: 0px 0px;}
#wa-row-jdg604hj6aqbo0>.wa-item-rowspacer {height:20px;}
#wa-row-jdnamzv35u2fp4 {margin:0px 0px;}
#wa-row-jdnamzv35u2fp4>div {padding: 0px 0px;}
#wa-row-jdnangy2718rjc>.wa-item-rowspacer {height:50px;}
#wa-row-jdnanimq718oh4>.wa-item-rowspacer {height:50px;}
#wa-row-jdnbeh3f718tbc {margin:0px 0px;}
#wa-row-jdnbeh3f718tbc>div {padding: 0px 0px;}
#wa-row-jdnbf59i6olx0g {margin:0px 0px;}
#wa-row-jdnbf59i6olx0g>div {padding: 0px 0px;}
#wa-row-jdnbfbqr73ksrk>.wa-item-rowspacer {height:30px;}
#wa-row-jdnbfh1m73ktr4>.wa-item-rowspacer {height:30px;}
#wa-row-jdnbnc0e6mvxcg {margin:0px 0px;}
#wa-row-jdnbnc0e6mvxcg>div {padding: 0px 0px;}
#wa-row-jdnbny4r3vhjo8>.wa-item-rowspacer {height:30px;}
#wa-row-jer0722m5wll68>.wa-item-rowspacer {height:50px;}
#wa-row-jer0722m5wllk8>.wa-item-rowspacer {height:50px;}
#wa-row-jer0722m5wlndk>.wa-item-rowspacer {height:30px;}
#wa-row-jer0722m6zhya8 {margin:0px 0px;}
#wa-row-jer0722m6zhya8>div {padding: 0px 0px;}
#wa-row-jer0722m6zhzbk {margin:0px 0px;}
#wa-row-jer0722m6zhzbk>div {padding: 0px 0px;}
#wa-row-jer0722m6zi2a8 {margin:0px 0px;}
#wa-row-jer0722m6zi2a8>div {padding: 0px 0px;}
#wa-row-jer0722m6zi4y8 {margin:0px 0px;}
#wa-row-jer0722m6zi4y8>div {padding: 0px 0px;}
#wa-row-jer0722m6zi53k {margin:0px 0px;}
#wa-row-jer0722m6zi53k>div {padding: 0px 0px;}
#wa-sub-container-jdvtwqk76n397k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:rgba(0,0,0,0.301961);padding:0px 0px 0px 0px;}
#wa-sub-container-jdvtwqk76n397k>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jdvtwqk76n397k>.wa-container-vspacer {height:0px;}
#wa-sub-container-jdvtwqkc3doq2w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jdvtwqkc3doq2w>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jdvtwqkc3doq2w>.wa-container-vspacer {height:0px;}
#wa-sub-container-jdvtwqkd3dokog {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jdvtwqkd3dokog>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jdvtwqkd3dokog>.wa-container-vspacer {height:0px;}
#wa-sub-container-jdvtwqke3domzs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jdvtwqke3domzs>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jdvtwqke3domzs>.wa-container-vspacer {height:0px;}
#wa-sub-container-jdvtwqkf3doquo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jdvtwqkf3doquo>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jdvtwqkf3doquo>.wa-container-vspacer {height:0px;}
#wa-sub-container-jdvtwqkg3dog1s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jdvtwqkg3dog1s>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jdvtwqkg3dog1s>.wa-container-vspacer {height:0px;}
#wa-sub-container-jdvtwqkg3dojwo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jdvtwqkg3dojwo>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jdvtwqkg3dojwo>.wa-container-vspacer {height:0px;}
#wa-sub-container-jdvtwqki3doojc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jdvtwqki3doojc>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jdvtwqki3doojc>.wa-container-vspacer {height:0px;}
#wa-sub-container-jdvtwqkj3dogtk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jdvtwqkj3dogtk>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jdvtwqkj3dogtk>.wa-container-vspacer {height:0px;}
#wa-sub-container-jdvtwqkk3doid4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jdvtwqkk3doid4>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jdvtwqkk3doid4>.wa-container-vspacer {height:0px;}
#wa-sub-container-jdvtwqkl3dopb4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-jdvtwqkl3dopb4>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-jdvtwqkl3dopb4>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-jer0722m7b7r48] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-jer0722m7b7r48] .dropdown-menu > li > a:hover, [id^=wa-compmenu-jer0722m7b7r48] .dropdown-menu > li > a:focus {background-color:#ffffff;}
[id^=wa-compmenu-jer0722m7b7r48] .navbar-default {background-color:rgba(255,255,255,0); border-color:rgba(255,255,255,0); border-width:0px; border-radius:0px; min-height:0px;}
[id^=wa-compmenu-jer0722m7b7r48] .navbar-default .navbar-brand, [id^=wa-compmenu-jer0722m7b7r48].navbar-nav li a, [id^=wa-compmenu-jer0722m7b7r48] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-jer0722m7b7r48] .navbar-default .navbar-nav .open .dropdown-menu > li > a,[id^=wa-compmenu-jer0722m7b7r48] .navbar-default .navbar-nav .open .dropdown-menu li.dropdown-header {font-family:'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Luxi Sans', sans-serif; font-size:16px; color:#0000ff;}
[id^=wa-compmenu-jer0722m7b7r48] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-jer0722m7b7r48] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-jer0722m7b7r48] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#5c5c5c;}
[id^=wa-compmenu-jer0722m7b7r48] .navbar-default .navbar-nav .open .dropdown-menu li.divider {background-color:#0000ff;}
[id^=wa-compmenu-jer0722m7b7r48] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-jer0722m7b7r48] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-jer0722m7b7r48] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-jer0722m7b7r48] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-jer0722m7b7r48] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-jer0722m7b7r48] .navbar-default .navbar-nav > .open > a:focus {color:#5c5c5c; background-color:rgba(255,255,255,0);}
[id^=wa-compmenu-jer0722m7b7r48] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#0001f1 !important;}
[id^=wa-compmenu-jer0722m7b7r48] .navbar-default .navbar-toggle .icon-bar {background-color:#f6c90a;}
[id^=wa-compmenu-jer0722m7b7r48] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-jer0722m7b7r48].navbar-default .navbar-toggle:hover {background-color:#0001f1 !important;}
[id^=wa-compmenu-jer0722m7b7r48] .wa-brand-logo {padding-right:26px;}
[id^=wa-compmenu-jer0722m7b7r48] .wa-srch-input {font-size:16px;}
[id^=wa-compmenu-jer0722m7b7r48].navbar-fixed-top .navbar {background-color:#ffffff;}
[id^=wa-compmenu-jer0722m7b7xew] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-jer0722m7b7xew] .dropdown-menu > li > a:hover, [id^=wa-compmenu-jer0722m7b7xew] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-jer0722m7b7xew] .navbar-default {background-color:#ffffff; border-color:#ffffff; border-width:1px; border-radius:4px; min-height:0px;}
[id^=wa-compmenu-jer0722m7b7xew] .navbar-default .navbar-brand, [id^=wa-compmenu-jer0722m7b7xew].navbar-nav li a, [id^=wa-compmenu-jer0722m7b7xew] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-jer0722m7b7xew] .navbar-default .navbar-nav .open .dropdown-menu > li > a,[id^=wa-compmenu-jer0722m7b7xew] .navbar-default .navbar-nav .open .dropdown-menu li.dropdown-header {font-family:'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Luxi Sans', sans-serif; font-size:16px; color:#0000ff;}
[id^=wa-compmenu-jer0722m7b7xew] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-jer0722m7b7xew] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-jer0722m7b7xew] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#5c5c5c;}
[id^=wa-compmenu-jer0722m7b7xew] .navbar-default .navbar-nav .open .dropdown-menu li.divider {background-color:#0000ff;}
[id^=wa-compmenu-jer0722m7b7xew] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-jer0722m7b7xew] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-jer0722m7b7xew] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-jer0722m7b7xew] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-jer0722m7b7xew] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-jer0722m7b7xew] .navbar-default .navbar-nav > .open > a:focus {color:#5c5c5c; background-color:#ffffff;}
[id^=wa-compmenu-jer0722m7b7xew] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#0001f1 !important;}
[id^=wa-compmenu-jer0722m7b7xew] .navbar-default .navbar-toggle .icon-bar {background-color:#f6c90a;}
[id^=wa-compmenu-jer0722m7b7xew] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-jer0722m7b7xew].navbar-default .navbar-toggle:hover {background-color:#0001f1 !important;}
[id^=wa-compmenu-jer0722m7b7xew] .wa-brand-logo {padding-right:26px;}
[id^=wa-compmenu-jer0722m7b7xew] .wa-srch-input {font-size:16px;}
[id^=wa-compmenu-jer0722m7b7xxs] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-jer0722m7b7xxs] .dropdown-menu > li > a:hover, [id^=wa-compmenu-jer0722m7b7xxs] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-jer0722m7b7xxs] .navbar-default {background-color:#ffffff; border-color:#ffffff; border-width:1px; border-radius:4px; min-height:0px;}
[id^=wa-compmenu-jer0722m7b7xxs] .navbar-default .navbar-brand, [id^=wa-compmenu-jer0722m7b7xxs].navbar-nav li a, [id^=wa-compmenu-jer0722m7b7xxs] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-jer0722m7b7xxs] .navbar-default .navbar-nav .open .dropdown-menu > li > a,[id^=wa-compmenu-jer0722m7b7xxs] .navbar-default .navbar-nav .open .dropdown-menu li.dropdown-header {font-family:'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Luxi Sans', sans-serif; font-size:16px; color:#0000ff;}
[id^=wa-compmenu-jer0722m7b7xxs] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-jer0722m7b7xxs] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-jer0722m7b7xxs] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#5c5c5c;}
[id^=wa-compmenu-jer0722m7b7xxs] .navbar-default .navbar-nav .open .dropdown-menu li.divider {background-color:#0000ff;}
[id^=wa-compmenu-jer0722m7b7xxs] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-jer0722m7b7xxs] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-jer0722m7b7xxs] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-jer0722m7b7xxs] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-jer0722m7b7xxs] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-jer0722m7b7xxs] .navbar-default .navbar-nav > .open > a:focus {color:#5c5c5c; background-color:#ffffff;}
[id^=wa-compmenu-jer0722m7b7xxs] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#0001f1 !important;}
[id^=wa-compmenu-jer0722m7b7xxs] .navbar-default .navbar-toggle .icon-bar {background-color:#f6c90a;}
[id^=wa-compmenu-jer0722m7b7xxs] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-jer0722m7b7xxs].navbar-default .navbar-toggle:hover {background-color:#0001f1 !important;}
[id^=wa-compmenu-jer0722m7b7xxs] .wa-srch-input {font-size:16px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-jcvztiyv7q716w {margin:0px 0px;}
#wa-row-jcvztiyv7q716w>div {padding: 0px 0px;}
#wa-row-jcw9teyf6uz51k {margin:0px 0px;}
#wa-row-jcw9teyf6uz51k>div {padding: 0px 0px;}
#wa-row-jcw9tfts3eia14 {margin:0px 0px;}
#wa-row-jcw9tfts3eia14>div {padding: 0px 0px;}
#wa-row-jd05msol6a4cq8 {margin:0px 0px;}
#wa-row-jd05msol6a4cq8>div {padding: 0px 0px;}
#wa-row-jd05mu067879zk {margin:0px 0px;}
#wa-row-jd05mu067879zk>div {padding: 0px 0px;}
#wa-row-jd05muby787b68 {margin:0px 0px;}
#wa-row-jd05muby787b68>div {padding: 0px 0px;}
#wa-row-jd05mura7879e8 {margin:0px 0px;}
#wa-row-jd05mura7879e8>div {padding: 0px 0px;}
#wa-row-jd067hql6ixj6o {margin:0px 0px;}
#wa-row-jd067hql6ixj6o>div {padding: 0px 0px;}
#wa-row-jd06on7r9anhg0 {margin:0px 0px;}
#wa-row-jd06on7r9anhg0>div {padding: 0px 0px;}
#wa-row-jd06wny87405lk {margin:0px 0px;}
#wa-row-jd06wny87405lk>div {padding: 0px 0px;}
#wa-row-jd07nxd36ixqlc {margin:0px 0px;}
#wa-row-jd07nxd36ixqlc>div {padding: 0px 0px;}
#wa-row-jd087how6axc8g {margin:0px 0px;}
#wa-row-jd087how6axc8g>div {padding: 0px 0px;}
#wa-row-jd087i3l6axcog {margin:0px 0px;}
#wa-row-jd087i3l6axcog>div {padding: 0px 0px;}
#wa-row-jd087ihs9f6xqw {margin:0px 0px;}
#wa-row-jd087ihs9f6xqw>div {padding: 0px 0px;}
#wa-row-jd087ivc9f6yc8 {margin:0px 0px;}
#wa-row-jd087ivc9f6yc8>div {padding: 0px 0px;}
#wa-row-jd08hhzl7407iw {margin:0px 0px;}
#wa-row-jd08hhzl7407iw>div {padding: 0px 0px;}
#wa-row-jd08s9ki6ixmcg {margin:0px 0px;}
#wa-row-jd08s9ki6ixmcg>div {padding: 0px 0px;}
#wa-row-jd09ze8yau008 {margin:0px 0px;}
#wa-row-jd09ze8yau008>div {padding: 0px 0px;}
#wa-row-jd0a23v46jw3io {margin:0px 0px;}
#wa-row-jd0a23v46jw3io>div {padding: 0px 0px;}
#wa-row-jd0a23v46jw40g {margin:0px 0px;}
#wa-row-jd0a23v46jw40g>div {padding: 0px 0px;}
#wa-row-jd0a23v46jw4sw {margin:0px 0px;}
#wa-row-jd0a23v46jw4sw>div {padding: 0px 0px;}
#wa-row-jd0a23v46jw4wg {margin:0px 0px;}
#wa-row-jd0a23v46jw4wg>div {padding: 0px 0px;}
#wa-row-jdbzsd625zljyw {margin:0px 0px;}
#wa-row-jdbzsd625zljyw>div {padding: 0px 0px;}
#wa-row-jdnamzv35u2fp4 {margin:0px 0px;}
#wa-row-jdnamzv35u2fp4>div {padding: 0px 0px;}
#wa-row-jdnbeh3f718tbc {margin:0px 0px;}
#wa-row-jdnbeh3f718tbc>div {padding: 0px 0px;}
#wa-row-jdnbf59i6olx0g {margin:0px 0px;}
#wa-row-jdnbf59i6olx0g>div {padding: 0px 0px;}
#wa-row-jdnbnc0e6mvxcg {margin:0px 0px;}
#wa-row-jdnbnc0e6mvxcg>div {padding: 0px 0px;}
#wa-row-jer0722m6zhya8 {margin:0px 0px;}
#wa-row-jer0722m6zhya8>div {padding: 0px 0px;}
#wa-row-jer0722m6zhzbk {margin:0px 0px;}
#wa-row-jer0722m6zhzbk>div {padding: 0px 0px;}
#wa-row-jer0722m6zi2a8 {margin:0px 0px;}
#wa-row-jer0722m6zi2a8>div {padding: 0px 0px;}
#wa-row-jer0722m6zi4y8 {margin:0px 0px;}
#wa-row-jer0722m6zi4y8>div {padding: 0px 0px;}
#wa-row-jer0722m6zi53k {margin:0px 0px;}
#wa-row-jer0722m6zi53k>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-jcvztiyv7q716w {margin:0px 0px;}
#wa-row-jcvztiyv7q716w>div {padding: 0px 0px;}
#wa-row-jcw9teyf6uz51k {margin:0px 0px;}
#wa-row-jcw9teyf6uz51k>div {padding: 0px 0px;}
#wa-row-jcw9tfts3eia14 {margin:0px 0px;}
#wa-row-jcw9tfts3eia14>div {padding: 0px 0px;}
#wa-row-jd05msol6a4cq8 {margin:0px 0px;}
#wa-row-jd05msol6a4cq8>div {padding: 0px 0px;}
#wa-row-jd05mu067879zk {margin:0px 0px;}
#wa-row-jd05mu067879zk>div {padding: 0px 0px;}
#wa-row-jd05muby787b68 {margin:0px 0px;}
#wa-row-jd05muby787b68>div {padding: 0px 0px;}
#wa-row-jd05mura7879e8 {margin:0px 0px;}
#wa-row-jd05mura7879e8>div {padding: 0px 0px;}
#wa-row-jd067hql6ixj6o {margin:0px 0px;}
#wa-row-jd067hql6ixj6o>div {padding: 0px 0px;}
#wa-row-jd06on7r9anhg0 {margin:0px 0px;}
#wa-row-jd06on7r9anhg0>div {padding: 0px 0px;}
#wa-row-jd06wny87405lk {margin:0px 0px;}
#wa-row-jd06wny87405lk>div {padding: 0px 0px;}
#wa-row-jd07nxd36ixqlc {margin:0px 0px;}
#wa-row-jd07nxd36ixqlc>div {padding: 0px 0px;}
#wa-row-jd087how6axc8g {margin:0px 0px;}
#wa-row-jd087how6axc8g>div {padding: 0px 0px;}
#wa-row-jd087i3l6axcog {margin:0px 0px;}
#wa-row-jd087i3l6axcog>div {padding: 0px 0px;}
#wa-row-jd087ihs9f6xqw {margin:0px 0px;}
#wa-row-jd087ihs9f6xqw>div {padding: 0px 0px;}
#wa-row-jd087ivc9f6yc8 {margin:0px 0px;}
#wa-row-jd087ivc9f6yc8>div {padding: 0px 0px;}
#wa-row-jd08hhzl7407iw {margin:0px 0px;}
#wa-row-jd08hhzl7407iw>div {padding: 0px 0px;}
#wa-row-jd08s9ki6ixmcg {margin:0px 0px;}
#wa-row-jd08s9ki6ixmcg>div {padding: 0px 0px;}
#wa-row-jd09ze8yau008 {margin:0px 0px;}
#wa-row-jd09ze8yau008>div {padding: 0px 0px;}
#wa-row-jd0a23v46jw3io {margin:0px 0px;}
#wa-row-jd0a23v46jw3io>div {padding: 0px 0px;}
#wa-row-jd0a23v46jw40g {margin:0px 0px;}
#wa-row-jd0a23v46jw40g>div {padding: 0px 0px;}
#wa-row-jd0a23v46jw4sw {margin:0px 0px;}
#wa-row-jd0a23v46jw4sw>div {padding: 0px 0px;}
#wa-row-jd0a23v46jw4wg {margin:0px 0px;}
#wa-row-jd0a23v46jw4wg>div {padding: 0px 0px;}
#wa-row-jdbzsd625zljyw {margin:0px 0px;}
#wa-row-jdbzsd625zljyw>div {padding: 0px 0px;}
#wa-row-jdnamzv35u2fp4 {margin:0px 0px;}
#wa-row-jdnamzv35u2fp4>div {padding: 0px 0px;}
#wa-row-jdnbeh3f718tbc {margin:0px 0px;}
#wa-row-jdnbeh3f718tbc>div {padding: 0px 0px;}
#wa-row-jdnbf59i6olx0g {margin:0px 0px;}
#wa-row-jdnbf59i6olx0g>div {padding: 0px 0px;}
#wa-row-jdnbnc0e6mvxcg {margin:0px 0px;}
#wa-row-jdnbnc0e6mvxcg>div {padding: 0px 0px;}
#wa-row-jer0722m6zhya8 {margin:0px 0px;}
#wa-row-jer0722m6zhya8>div {padding: 0px 0px;}
#wa-row-jer0722m6zhzbk {margin:0px 0px;}
#wa-row-jer0722m6zhzbk>div {padding: 0px 0px;}
#wa-row-jer0722m6zi2a8 {margin:0px 0px;}
#wa-row-jer0722m6zi2a8>div {padding: 0px 0px;}
#wa-row-jer0722m6zi4y8 {margin:0px 0px;}
#wa-row-jer0722m6zi4y8>div {padding: 0px 0px;}
#wa-row-jer0722m6zi53k {margin:0px 0px;}
#wa-row-jer0722m6zi53k>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-jcvztiyv7q716w {margin:0px 0px;}
#wa-row-jcvztiyv7q716w>div {padding: 0px 0px;}
#wa-row-jcw9teyf6uz51k {margin:0px 0px;}
#wa-row-jcw9teyf6uz51k>div {padding: 0px 0px;}
#wa-row-jcw9tfts3eia14 {margin:0px 0px;}
#wa-row-jcw9tfts3eia14>div {padding: 0px 0px;}
#wa-row-jd05msol6a4cq8 {margin:0px 0px;}
#wa-row-jd05msol6a4cq8>div {padding: 0px 0px;}
#wa-row-jd05mu067879zk {margin:0px 0px;}
#wa-row-jd05mu067879zk>div {padding: 0px 0px;}
#wa-row-jd05muby787b68 {margin:0px 0px;}
#wa-row-jd05muby787b68>div {padding: 0px 0px;}
#wa-row-jd05mura7879e8 {margin:0px 0px;}
#wa-row-jd05mura7879e8>div {padding: 0px 0px;}
#wa-row-jd067hql6ixj6o {margin:0px 0px;}
#wa-row-jd067hql6ixj6o>div {padding: 0px 0px;}
#wa-row-jd06on7r9anhg0 {margin:0px 0px;}
#wa-row-jd06on7r9anhg0>div {padding: 0px 0px;}
#wa-row-jd06wny87405lk {margin:0px 0px;}
#wa-row-jd06wny87405lk>div {padding: 0px 0px;}
#wa-row-jd07nxd36ixqlc {margin:0px 0px;}
#wa-row-jd07nxd36ixqlc>div {padding: 0px 0px;}
#wa-row-jd087how6axc8g {margin:0px 0px;}
#wa-row-jd087how6axc8g>div {padding: 0px 0px;}
#wa-row-jd087i3l6axcog {margin:0px 0px;}
#wa-row-jd087i3l6axcog>div {padding: 0px 0px;}
#wa-row-jd087ihs9f6xqw {margin:0px 0px;}
#wa-row-jd087ihs9f6xqw>div {padding: 0px 0px;}
#wa-row-jd087ivc9f6yc8 {margin:0px 0px;}
#wa-row-jd087ivc9f6yc8>div {padding: 0px 0px;}
#wa-row-jd08hhzl7407iw {margin:0px 0px;}
#wa-row-jd08hhzl7407iw>div {padding: 0px 0px;}
#wa-row-jd08s9ki6ixmcg {margin:0px 0px;}
#wa-row-jd08s9ki6ixmcg>div {padding: 0px 0px;}
#wa-row-jd09ze8yau008 {margin:0px 0px;}
#wa-row-jd09ze8yau008>div {padding: 0px 0px;}
#wa-row-jd0a23v46jw3io {margin:0px 0px;}
#wa-row-jd0a23v46jw3io>div {padding: 0px 0px;}
#wa-row-jd0a23v46jw40g {margin:0px 0px;}
#wa-row-jd0a23v46jw40g>div {padding: 0px 0px;}
#wa-row-jd0a23v46jw4sw {margin:0px 0px;}
#wa-row-jd0a23v46jw4sw>div {padding: 0px 0px;}
#wa-row-jd0a23v46jw4wg {margin:0px 0px;}
#wa-row-jd0a23v46jw4wg>div {padding: 0px 0px;}
#wa-row-jdbzsd625zljyw {margin:0px 0px;}
#wa-row-jdbzsd625zljyw>div {padding: 0px 0px;}
#wa-row-jdnamzv35u2fp4 {margin:0px 0px;}
#wa-row-jdnamzv35u2fp4>div {padding: 0px 0px;}
#wa-row-jdnbeh3f718tbc {margin:0px 0px;}
#wa-row-jdnbeh3f718tbc>div {padding: 0px 0px;}
#wa-row-jdnbf59i6olx0g {margin:0px 0px;}
#wa-row-jdnbf59i6olx0g>div {padding: 0px 0px;}
#wa-row-jdnbnc0e6mvxcg {margin:0px 0px;}
#wa-row-jdnbnc0e6mvxcg>div {padding: 0px 0px;}
#wa-row-jer0722m6zhya8 {margin:0px 0px;}
#wa-row-jer0722m6zhya8>div {padding: 0px 0px;}
#wa-row-jer0722m6zhzbk {margin:0px 0px;}
#wa-row-jer0722m6zhzbk>div {padding: 0px 0px;}
#wa-row-jer0722m6zi2a8 {margin:0px 0px;}
#wa-row-jer0722m6zi2a8>div {padding: 0px 0px;}
#wa-row-jer0722m6zi4y8 {margin:0px 0px;}
#wa-row-jer0722m6zi4y8>div {padding: 0px 0px;}
#wa-row-jer0722m6zi53k {margin:0px 0px;}
#wa-row-jer0722m6zi53k>div {padding: 0px 0px;}
}
